@font-face{
	font-family:'AvenirNextPro-Bold';
	src: url('../fonts/AvenirNextLTPro-Bold.woff')
}
@font-face{
	font-family:'AvenirNextPro-Demi';
	src: url('../fonts/AvenirNextLTPro-Demi.woff')
}
@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

@font-face{
	font-family:'Gordita-Bold';
	src: url('../fonts/Gordita-Bold.otf')
}

html, body{
	color: $brand-black;
}
p{
	font-family: "AvenirNextPro-Demi";
}

.EU-bg-header{
	background: linear-gradient(90deg,#7402a3 0,#023AA3)!important;
}
.EU-getStarted-btn{
	background-color: $brand-EUColor!important;
	border: 1px solid $brand-EUColor!important;
}
.EU-getStarted-input{
	border: 1px solid $brand-EUColor!important;
}
.EU-bg{
	background-color: $brand-EUColor!important;
}
.EU-color{
	color: $brand-EUColor!important;
}
.EU-bordercolor{
	border: 1px solid $brand-EUColor!important;
}
.EU-arrow-right-svg{
	svg{
		color: $brand-EUColor!important;
	}
}
