$brand-white: #fff;
$brand-red: #ED2939;
$brand-darkGrey: #343843;
$brand-black: #000;
$brand-lightGrey: #808080;
$brand-borderColor: #6D6D6D;
$brand-lightGrey1: #DDDDDD;
$brand-inputColor: #483C6C;
$brand-inputText: #666666;