.home{
    .home-banner{
        .banner-content{
            h1{
                font-family: 'AvenirNextPro-Bold';
                font-size: 50px;
                color: $brand-darkGrey;
            }
            p{ 
                font-size: 23px;
                font-family: 'Work Sans';
            }
            .subscribe-form{
                .uk-input{
                    width: 365px;
                    border: 1px solid $brand-red;
                    border-bottom-left-radius: 15px;
                    border-top-left-radius: 15px;
                    padding: 0 25px;
                    font-family: 'Work Sans';
                    height: 45px;
                    color: $brand-lightGrey;
                }
                .uk-button{
                    margin-left: -5px;
                    background-color: $brand-red;
                    color: $brand-white;
                    text-transform: capitalize;
                    font-family: 'AvenirNextPro-Bold';
                    font-size: 18px;
                    border: 1px solid $brand-red;
                    border-bottom-right-radius: 15px;
                    border-top-right-radius: 15px;
                    height: 45px;
                }
            }
        }
        .banner-image{
            text-align: center;

            img{
                height: 650px;
            }
        }
    }   
    .feature-content{
        h2{
            font-family: 'AvenirNextPro-Bold';
            color: $brand-darkGrey;
            font-size: 35px;
        }
        p{
            font-family: 'Work Sans';
            font-size: 25px;
        }
        .uk-card{
            .uk-card-body{
                h5{
                    font-size: 17px;
                    color: $brand-darkGrey;
                }
                p{
                    font-size: 19px;
                }
            }
        }
    }
    .organization-content{
        h2{
            font-family: 'AvenirNextPro-Bold';
            color: $brand-darkGrey;
            font-size: 35px;
        }
        p{
            font-family: 'Work Sans';
            font-size: 25px;
        }
        .uk-card{
            width: 260px;
            border: 1px solid $brand-borderColor;
            border-radius: 20px;

            .uk-card-media-top{
                position: relative;
                height: 100px;
            
                img{
                    max-height: 100%;
                    max-width: 100%;
                    width: auto;
                    height: auto;
                    position: absolute;
                    top: 0;
                    bottom: 0;
                    left: 0;
                    right: 0;
                    margin: auto;
                }
            }

            .uk-card-title{
                font-size: 20px;
                height: 85px;
            }
        }
    }
    .subcribe-content{
        background-color: $brand-red;
        color: $brand-white;
        
        p{
            font-size: 23px;
            font-family: 'Work Sans';
        }
        .subscribe-form{
            .uk-input{
                width: 380px;
                border: 1px solid $brand-white;
                border-bottom-left-radius: 15px;
                border-top-left-radius: 15px;
                padding: 0 25px;
                font-family: 'Work Sans';
                height: 50px;
                color: $brand-lightGrey1;
                background: transparent;
                font-size: 17px;
            }
                
            ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                color: $brand-lightGrey1;
                opacity: 1; /* Firefox */
            }
            
            :-ms-input-placeholder { /* Internet Explorer 10-11 */
                color: $brand-lightGrey1;
            }
            
            ::-ms-input-placeholder { /* Microsoft Edge */
                color: $brand-lightGrey1;
            }
            .uk-button{
                margin-left: -5px;
                background-color: $brand-white;
                color: $brand-red;
                text-transform: capitalize;
                font-family: 'AvenirNextPro-Bold';
                font-size: 18px;
                border: 1px solid $brand-white;
                border-bottom-right-radius: 15px;
                border-top-right-radius: 15px;
                height: 50px;
                font-size: 17px;
            }
        }
    }
    .client-content{
        .uk-card{
            padding: 0 23px!important;

            img{
                width: 200px;
            }
        }
    }
}

.product{
    .product-banner{
        .banner-content{
            h1{
                font-family:'Gordita-Bold';
                font-size: 50px;
                color: $brand-darkGrey;
                line-height: 68px;
            }
            p{ 
                font-size: 17px;
                font-family: 'Work Sans';
            }
            .subscribe-form{
                .uk-input{
                    width: 365px;
                    border: 1px solid $brand-red;
                    border-bottom-left-radius: 15px;
                    border-top-left-radius: 15px;
                    padding: 0 25px;
                    font-family: 'Work Sans';
                    height: 45px;
                    color: $brand-lightGrey;
                }
                .uk-button{
                    margin-left: -5px;
                    background-color: $brand-red;
                    color: $brand-white;
                    text-transform: capitalize;
                    font-family: 'AvenirNextPro-Bold';
                    font-size: 18px;
                    border: 1px solid $brand-red;
                    border-bottom-right-radius: 15px;
                    border-top-right-radius: 15px;
                    height: 45px;
                }
            }
        }
        .banner-image{
            text-align: center;

            img{
                height: 650px;
            }
        }
    } 
    .product-list{
        .uk-card{
            .uk-card-header{
                h1{
                    font-size: 40px;
                    font-family: 'AvenirNextPro-Demi';
                    line-height: 50px;
                }
            }
            .uk-card-body{
                padding: 0 40px;
                
                p{
                    font-family: 'Work Sans';
                    font-size: 18px;
                }
            }
        }
    }
    .lets-get-started{
        .banner-content{
            h1{
                font-family:'Gordita-Bold';
                font-size: 50px;
                color: $brand-darkGrey;
                line-height: 68px;
            }
            p{ 
                font-size: 20px;
                font-family: 'Work Sans';
                line-height: 30px;
            }
            .uk-input{
                width: 275px;
                border-radius: 10px;
                border: 1px solid $brand-inputColor;
                color: $brand-inputText;
                
                ::placeholder { /* Chrome, Firefox, Opera, Safari 10.1+ */
                    color: $brand-inputText;
                    opacity: 1; /* Firefox */
                }
                
                :-ms-input-placeholder { /* Internet Explorer 10-11 */
                    color: $brand-inputText;
                }
                
                ::-ms-input-placeholder { /* Microsoft Edge */
                    color: $brand-inputText;
                }
            }

            .uk-margin-bottom-large{
                margin-bottom: 50px;
            }

            .submit-btn{
                background-color: $brand-red;
                color: $brand-white;
                padding: 15px 50px;
                border-radius: 10px;
                font-size: 22px;
                margin: 10px 0;
                font-family: 'AvenirNextPro-Bold';

                &:hover{
                    text-decoration: none;
                }
            }
        }
    } 
    .products-offer{
        h2{
            font-family:'Gordita-Bold';
            font-size: 42px;
            color: $brand-darkGrey;
        }
        .active{
            background-color: $brand-red;
            color: $brand-white!important;
            border: 1px solid $brand-red!important;

            .uk-card-title{
                font-size: 35px;
                text-transform: uppercase;
                font-family: 'AvenirNextPro-Demi';
                color: $brand-white!important;
            }
            .uk-text-meta{
                font-family: 'Work Sans';
                font-size: 16px;
                color: $brand-white!important;
            }
            .uk-icon{
                svg{
                    width: 50px!important;
                    height: 50px!important;
                }
            }
        }
        .uk-card{
            border: 1px solid $brand-darkGrey;
            padding: 30px 20px!important;
            border-radius: 15px;
            margin: 0 20px; 

            .uk-card-title{
                font-size: 35px;
                text-transform: uppercase;
                font-family: 'AvenirNextPro-Demi';
            }
            .uk-text-meta{
                font-family: 'Work Sans';
                font-size: 16px;
                color: $brand-black;
            }
            .uk-icon{
                svg{
                    width: 50px!important;
                    height: 50px!important;
                }
            }
        }
    }
}

.blog{
    .blog-banner{
        padding: 0!important;

        .banner-content{
            .uk-container{
                padding: 0!important;
            }

            .uk-card{
                margin-left: 140px;

                @media only screen and (min-width: 1535px) {
                    margin-left: 235px;
                }

                @media only screen and (min-width: 1660px) {
                    margin-left: 335px;
                }
            }

            a{
                font-family: 'Work Sans';
                color: $brand-lightGrey2;
                display: block;
                font-size: 16px;

                &:hover{
                    text-decoration: none;
                }

                span{

                    svg{
                            width: 30px;
                            height: 30px;
                    }
                }
            }
            h1{
                font-family: 'AvenirNextPro-Bold';
                font-size: 50px;
                color: $brand-darkGrey;
            }
            p{
                font-size: 23px;
                font-family: 'Work Sans';
            }
            .sub-details{
                font-size: 17px!important; 
            }
        }
        .banner-image{
            padding-left: 0!important;
        }
    }
    .blog-content{
        padding: 0!important;
        margin-top: -60px;

        .uk-card{
            padding: 40px 60px!important;
            -moz-box-shadow: 8px 8px 16px rgba(0,0,0,0.3);
            -webkit-box-shadow: 8px 8px 16px rgba(0,0,0,0.3);
            box-shadow: 8px 8px 20px rgba(0, 0, 0, 0.3);
            background-color: #fff;

            p{
                font-family: 'Work Sans';
                line-height: 20px;
                font-size: 16px;
            }
            h3{
                color: $brand-darkGrey;
                font-family: 'AvenirNextPro-Bold';   
                font-size: 30px;
                line-height: 35px;
                margin-bottom: 45px;
            
            }
        }
    }
    .author-content{
        font-size: 17px;
        p{
            font-family: 'Work Sans';
        }
        .tags{
            display: block;
            width: 100%;
            margin-top: 10px!important;

            a{
                color: $brand-black;
                font-family: 'Work Sans';
                text-decoration: underline;
            }
        }
    }
    .share-content{
        padding: 0 0 20px 0!important;

        p{
            font-family: 'Work Sans';
        }

        a{
            padding: 0 10px;

            &:hover{
                text-decoration: none;
            }

            img{
                width: 55px;
            }
        }
    }
    .cta-content{
        padding: 0!important;
        .uk-card{
            padding: 10px 0;

            a{
                font-family: 'Work Sans';
                color: $brand-lightGrey2;
                display: block;
                font-size: 16px;
                margin-left: 35px;

                &:hover{
                    text-decoration: none;
                }

                span{

                    svg{
                            width: 30px;
                            height: 30px;
                    }
                }
            }
        }
    }
    .similar-articles{
        h3{
            font-family:'Gordita-Bold';
            font-size: 32px;
        }

        .uk-card{
            padding: 25px 25px;
            width: 450px;
            -moz-box-shadow: 2px 2px 5px rgba(0,0,0,.5);
            -webkit-box-shadow: 2px 2px 5px rgba(0,0,0,.5);
            box-shadow: 2px 2px 5px rgba(0,0,0,.5);

            .uk-card-title{
                font-family: 'Work Sans';
                font-size: 18px;
            }
        }
        span{
            svg{
                width: 35px;
                color: $brand-red;
            }
        }
    }
}